.search-box {
  width: fit-content;
  height: fit-content;
  position: relative;
  transform: translate(0%, -26%);
}
.input-search {
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all 0.5s ease-in-out;
  background-color: rgb(98 48 149 / 100%);
  padding-right: 40px;
  color: #fff;
}
.input-search::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btn-search {
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color: #ffffff;
  background-color: transparent;
  pointer-events: painted;
}
.btn-search:focus ~ .input-search {
  width: 230px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}
.input-search:focus {
  width: 230px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

.main__breadcrumbs-search {
  display: flex;
  height: 20px;
}

.main__breadcrumbs-test {
  margin-bottom: 41px;
}

.main__breadcrumbs-item-search {
  margin: 0 11px;
}

@media (max-width: 580px) {
  .search-box.main__breadcrumbs-item-search {
    transform: translate(0%, 0%);
    margin-top: 1.3em;
  }
  .main__breadcrumbs-search {
    display: inline-block;
    height: auto;
  }
  .main__breadcrumbs-item-search {
    margin: 0;
  }
}
